In [ ]:
s={"name":"ayaz","id":433,"dept":"cse","sub":'python'}

In [ ]:
s

{'name': 'ayaz', 'id': 433, 'dept': 'cse', 'sub': 'python'}

In [ ]:
for p,q in s.items():
  print(p,q)

name ayaz
id 433
dept cse
sub python

In [ ]:
s['salary']=45000

In [ ]:
s

{'name': 'ayaz', 'id': 433, 'dept': 'cse', 'sub': 'python', 'salary': 45000}

In [ ]:
q={'a':10,'b':20,'c':30,'d':40}
z=list(q.keys())

In [ ]:
z
x=list(q.values())
x

[10, 20, 30, 40]

In [ ]:
s={"rambabu":1,"avanthi":30,"cbn":3,"roja":421,"jagan":402,"lokesh":6}
s

{'rambabu': 1, 'avanthi': 30, 'cbn': 3, 'roja': 421, 'jagan': 402, 'lokesh': 6}

In [ ]:
#arranging the keys in order
r=list(s.keys())
r.sort()
d={}
for x in r:
  for p,q in s.items():
    if(x==p):
      d.update({p:s[p]})
      break
print(d)

{'avanthi': 30, 'cbn': 3, 'jagan': 402, 'lokesh': 6, 'rambabu': 1, 'roja': 421}

In [ ]:
s

{'rambabu': 1, 'avanthi': 30, 'cbn': 3, 'roja': 421, 'jagan': 402, 'lokesh': 6}

In [ ]:
#arranging in order of values
r=list(s.values())
r.sort()
d={}
for x in r:
  for p,q in s.items():
    if(x==q):
      d.update({p:s[p]})
      break
print(d)

{'rambabu': 1, 'cbn': 3, 'lokesh': 6, 'avanthi': 30, 'jagan': 402, 'roja': 421}

In [ ]:
#max vowels repated in string
s=input("enter the string")
r=''
v="aeiou"
for p in s:
  if p in v:
    r=r+p
print(r)
d={p:s.count(p) for p in r}
print(d)
m=max(d.values())
for p,q in d.items():
  if(q==m):
    print(p)

enter the stringassalamalikum
aaaaiu
{'a': 4, 'i': 1, 'u': 1}
a

In [ ]:
#replace the element with low ascii
s=input("enter the string")
d={p:s.count(p) for p in s}
print(d)
x=input("enter the char to replace")
m=max(d.values())
l=[]
for p,q in d.items():
  if(q==m):
    l.append(p)
l.sort()
res=''
for p in s:
  if(p==l[0]):
    res=res+x
  else:
    res=res+p
print(res)

enter the stringliril
{'l': 2, 'i': 2, 'r': 1}
enter the char to replaces
lsrsl

In [ ]:
#replace the element with hightes ascci
s=input("enter the string")
d={p:s.count(p) for p in s}
print(d)
x=input("enter the char to replace")
m=max(d.values())
l=[]
for p,q in d.items():
  if(q==m):
    l.append(p)
l.sort(reverse=True)
res=''
for p in s:
  if(p==l[0]):
    res=res+x
  else:
    res=res+p
print(res)

enter the stringliril
{'l': 2, 'i': 2, 'r': 1}
enter the char to replaces
siris

In [ ]:
#least diff b/w the element
n=int(input("enter the value of n"))
l=list(map(int,input("enter values").split(","))) [:n]
print(l)
x=int(input("enter value for comparing:"))
d={p:abs(x-p) for p in l}
print(d)
m=min(d.values())
for p,q in d.items():
  if(m==q):
    print(p)

enter the value of n3
enter values23,25,65
[23, 25, 65]
enter value for comparing:27
{23: 4, 25: 2, 65: 38}
25

In [ ]:
s={"raju":{"python":45,"c":56,"c++":47},"rani":{"python":48,"c":55,"c++":40},"vivek":{"python":47,"c":48,"c++":59}}
print(s)
for p,q in s.items():
  print(p)
  print("-----")
  for a,b in q.items():
    print(b)

{'raju': {'python': 45, 'c': 56, 'c++': 47}, 'rani': {'python': 48, 'c': 55, 'c++': 40}, 'vivek': {'python': 47, 'c': 48, 'c++': 59}}
raju
-----
45
56
47
rani
-----
48
55
40
vivek
-----
47
48
59