In [ ]:
#first element smallest and second element largest
n=int(input("How many values do you want to enter:"))
l=list(map(int,input("enter values:").split(","))) [:n]
print(l)#[5,2,3,6,5-2]
l.sort()#[-2,2,3,4,5,5,6]
r=[]
for p in range(0,(len(l)//2)):
  r.append(l[p])
  r.append(l[-(p+1)])
if(len(l)%2!=0):
  r.append(l[len(l)//2])
print(*r)

How many values do you want to enter:7
enter values:5,2,3,4,6,5,-2
[5, 2, 3, 4, 6, 5, -2]
-2 6 2 5 3 5 4

In [ ]:
#arrange the list in decending order in the form of string
l=list(map(int,input("enter values:").split(","))) [:n]
print(l)
s=list(map(str,l))
r=''.join(s)
print(r)
n=int(r)
l=list(map(int,str(n)))
l.sort(reverse=True)
d=list(map(str,l))
print(''.join(d))

enter values:34,79,58,64
[34, 79, 58, 64]
34795864
98765443

In [ ]:
#identifying duplicate values
l=list(map(int,input("enter values:").split(",")))
print(l)
ul=[]
dl=[]
for p in l:
  if(p not in ul):
    ul.append(p)
  else:
     if(p not in dl):
      dl.append(p)
print("unique",ul)
print("duplicate",dl)

enter values:1,2,3,4,1,2,5,6,1,2,6
[1, 2, 3, 4, 1, 2, 5, 6, 1, 2, 6]
unique [1, 2, 3, 4, 5, 6]
duplicate [1, 2, 6]

In [ ]:
#add the numbers in the given interval
f=int(input("enter first number:"))
l=int(input("enter last number"))
s1=0
for p in range(f,l+1):
  n=p
  s=0
  while(n!=0):#29
    r=n%10#9
    s=s+r#9+0
    n=n//10#2
  s1=s1+s
print("sum:",s1)

enter first number:1
enter last number5
sum: 15

In [ ]:
#finding the runner up and highest score
l=list(map(int,input("enter values:").split(","))) [:n]
print(l)
l.sort()
print(l)
print("highest score:",l[-1])
c=l.count(max(l))
print("runner up score:",l[-(c+1)])

enter values:2,3,6,6,5
[2, 3, 6, 6, 5]
[2, 3, 5, 6, 6]
highest score: 6
runner up score: 5

In [ ]:
l=list(map(int,input("enter values:").split(",")))
print(l)
l.sort()
print(l)
print("min score",l[0])
c=l.count(min(l))
print("sec min score",l[c])

enter values:2,6,2,8,2
[2, 6, 2, 8, 2]
[2, 2, 2, 6, 8]
min score 2
sec min score 6

In [ ]:
l=[p*p for p in range (1,51) if(p%5==0)]
print(l)

[25, 100, 225, 400, 625, 900, 1225, 1600, 2025, 2500]

In [ ]:
#2-20 even
l=[p for p in range(1,21) if(p%2==0)]
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#2-21 odd squares
l=[p*p for p in range(1,20) if(p%2!=0)]
l

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [ ]:
#
n=int(input("enter n:"))
l=list(map(int,str(n)))
print(l)
l.sort()
if(l[0]==0):
  l[0],l[1]=l[1],l[0]
print(l)
s=list(map(str,l))
print("".join(s))

enter n:210546
[2, 1, 0, 5, 4, 6]
[1, 0, 2, 4, 5, 6]
102456

In [ ]:
#squares of odd num
n=int(input("enter n:"))
l=list(map(int,str(n)))
print(l)
r=[p*p for p in l if (p%2!=0)]
s=list(map(str,r))
print("".join(s))

enter n:12345
[1, 2, 3, 4, 5]
1925

In [ ]:
#arranging first odd num then even num
n=int(input("enter n:"))
l=list(map(int,str(n)))
ol=[]
el=[]
r=[el.append(p) if (p%2==0) else ol.append(p) for p in l]
ol.sort()
el=el[::-1]
v=ol+el
s=list(map(str,v))
print(''.join(s))

enter n:2143658790
1357908642

In [ ]:
#rotating the values in the list
n=int(input("enter n:"))
l=list(map(int,input("enter values:").split(",")))[:n]
print(l)
r=int(input("enter rotation:"))
d=l[-r:]+l[:-r]
print(*d)

enter n:5
enter values:1,2,3,4,5
[1, 2, 3, 4, 5]
enter rotation:2
4 5 1 2 3

In [ ]:
#basic operations
l=[10,12,45,4,56,7]
i=0
while(i<len(l)):
  print(l[i],end="")
  i=i+1
print()
print("for loop")
for p in l:
  print(p,end=" ")
print()
print("for loop with range")
for p in range(0,len(l)):
  print(p,l[p])
print("max",max(l))
print("min",min(l))
print("sum",sum(l))
print("average",sum(l)//len(l))

1012454567
for loop
10 12 45 4 56 7
for loop with range
0 10
1 12
2 45
3 4
4 56
5 7
max 56
min 4
sum 134
average 22