In [ ]:
#static variable
class test:
    a=1000   #static var
    b=2000
    def display(self):#non static method
        print(test.a,test.b)
    def update(self):
        test.a=test.a+10
        test.b=test.b+20
t1=test()
t1.display()
t1.update()
t1.display()
print(t1.a,t1.b)
print(test.a,test.b)
t2=test()
t2.display()#shows updated value

1000 2000
1010 2020
1010 2020
1010 2020
1010 2020

In [ ]:
#non static variable        #self keyword is used
class test:
  def insert(self):
    self.a=100
    self.b=200
  def display(self):
    print(self.a,self.b)
  def update(self):
    self.a=self.a+10
    self.b=self.b+20

t1=test()
t1.insert()
t1.display()
t1.update()
t1.display()
t2=test()
t2.insert()
t2.display()#show initial value

100 200
110 220
100 200

In [ ]:
#default constructor
class test:
  def __init__(self):
    self.a=100
    self.b=200
    #print("in cc")
  def m1(self):
    print(self.a,self.b)
t1=test()
t1.m1()

100 200

In [ ]:
#parameterized constructor
class test:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def m1(self):
    print(self.a,self.b)
t1=test(10,20)
t1.m1()
t2=test(30,40)
t2.m1()
t3=test(50,60)
t3.m1()

10 20
30 40
50 60

In [ ]:
#banking application
class cust:
  bname="sbi"
  def __init__(self,name,aid,add,bal):
    self.name=name
    self.aid=aid
    self.add=add
    self.bal=bal
  def display(self):
    print(cust.bname,self.name,self.aid,self.add,self.bal)
  def balance(self):
    print("balance:",self.bal)
  def deposit(self,amt):
    self.bal=self.bal+amt
  def withdraw(self,amt):
    if(self.bal>amt):
      if(self.bal-amt>=2000):
        self.bal=self.bal-amt
      else:
        print("maintain min bal")
    else:
      print("insufficient funds")
c1=cust("random",1002,"mehd",80000)
c1.display()
c1.balance()
c1.deposit(5000)
c1.balance()
c1.withdraw(40000)
c1.balance()

sbi random 1002 mehd 80000
balance: 80000
balance: 85000
balance: 45000

In [ ]:
class book:
  bSname="hiimalaya"
  def __init__(self,bname,np,cost,aname):
    self.bname=bname
    self.np=np
    self.cost=cost
    self.aname=aname
  def display(self):
    print(book.bSname,self.np,self.cost,self.aname)
b1=book('c','no.of pages:150','cost:1000','maxwell')
b1.display()
b2=book('java',250,1500,'david')
b2.display()
b3=book('python',500,2500,'kholi')
b3.display()

hiimalaya no.of pages:150 cost:1000 maxwell
hiimalaya 250 1500 david
hiimalaya 500 2500 kholi

In [ ]:
class stud:
  cname="Lords"
  def __init__(self,name,rno,s1,s2,s3):
    self.name=name
    self.rno=rno
    self.s1=s1
    self.s2=s2
    self.s3=s3
  def display(self):
    print(stud.cname,self.name,self.rno,self.s1,self.s2,self.s3)
  def find_res(self):
    if((self.s1>35)and(self.s2>35)and(self.s3>35)):
      total=self.s1+self.s2+self.s3
      avg=total/3
      if(avg>=70):
        print(name,"secured distinction")
      elif(avg>=60):
        print(name,"first class")
      elif(avg>=50):
        print(name,"second class")
      elif(avg>=35):
        print(name,"third class")
    else:
      print(name,"failed")
n=int(input("enter no.of students"))
i=1
while(i<=n):
  name=input("enter name:")
  rno=int(input("enter no:"))
  s1,s2,s3=map(int,input("marks:").split(","))
  se=stud(name,rno,s1,s2,s3)
  se.display()
  se.find_res()
  i=i+1
  print("******************")

enter no.of students3
enter name:kkk
enter no:45
marks:88,88,88
Lords kkk 45 88 88 88
kkk secured distinction
******************
enter name:rrr
enter no:55
marks:35,35,35
Lords rrr 55 35 35 35
rrr failed
******************
enter name:ttt
enter no:67
marks:60,60,60
Lords ttt 67 60 60 60
ttt first class
******************

In [ ]:
#has a relation
class x:
    a=100
    def m1(self):
        self.b=200
    def m2(self):
        print("in m2")
class y:
    c=300
    def m3(self):
        self.d=400
    def m4(self):
        print("in m4")
    def display(self):
        print(y.c)
        self.m3()
        print(self.d)
        self.m4()
        x1=x()
        print(x.a)
        x1.m1()
        print(x1.b)
        x1.m2()
y1=y()
y1.display()

300
400
in m4
100
200
in m2

In [ ]:
#inheritance
class x:
    a=100
    def m1(self):
        self.b=200
    def m2(self):
        print("in m2")
class y(x):
    c=300
    def m3(self):
        self.d=400
    def m4(self):
        print("in m4")
    def display(self):
        print(y.c)
        self.m3()
        print(self.d)
        self.m4()
        print(x.a)
        self.m1()
        print(self.b)
        self.m2()
y1=y()
y1.display()

300
400
in m4
100
200
in m2

In [ ]:
#accesing in main progam
class x:
    a=100
    def m1(self):
        self.b=200
    def m2(self):
        print("in m2")
class y(x):
    c=300
    def m3(self):
        self.d=400
    def m4(self):
        print("in m4")
y1=y()
print(y.c)
y1.m3()
print(y1.d)
y1.m4()
print(x.a)
y1.m1()
print(y1.b)
y1.m2()

300
400
in m4
100
200
in m2

In [ ]:
class x:
  def m1(self):
    print("in m1:")
x1=x()
x1.m1()
p=x1.__str__()
print(p)

in m1:
<__main__.x object at 0x7f2ec5576290>

In [ ]:
#single in heritance
class x:
  def m1(self):
    print("in m1")
class y(x):
  def m2(self):
    print("in m2")
y1=y()
y1.m1()
y1.m2()

in m1
in m2

In [ ]:
#multi level
class x:
  def m1(self):
    print("in m1")
class y(x):
  def m2(self):
    print("in m2")
class z(y):
  def m3(self):
    print("in m3")
z1=z()
z1.m1()
z1.m2()
z1.m3()

in m1
in m2
in m3

In [ ]:
#hierarichal
class x:
  def m1(self):
    print("in m1")
class y(x):
  def m2(self):
    print("in m2")
class z(y):
  def m3(self):
    print("in m3")
z1=z()
z1.m1()
z1.m3()
y1=y()
y1.m1()
y1.m2()

in m1
in m3
in m1
in m2

In [ ]:
#multi level
class x:
  def m1(self):
    print("in m1 of x")
class y(x):
  def m1(self):
    print("in m1 of y")
  def m2(self):
    print("in m2 of y")
class z(y,x):
  def m3(self):
    print("in m3")

z1=z()
z1.m1()
z1.m2()

in m1 of y
in m2 of y

In [ ]:
#hybrid
class x:
  def m1(self):
    print("in m1 of x")
class y(x):
  def m2(self):
    print("in m2 of y")
class z(y):
  def m3(self):
    print("in m3")
class a(x):
  def m4(self):
    print("in m4")
a1=a()
a1.m4()
a1.m1()
z1=z()
z1.m1()
z1.m2()
z1.m3()

in m4
in m1 of x
in m1 of x
in m2 of y
in m3

In [ ]:
#polymorphism
#method overloading
class x:
    def m1(self):
        print("m1 with no para")
    def m1(self,a):
        print("m1 with 1 para")
    def m1(self,a,b):
        print("m1 with 2 para")
x1=x()
x1.m1(10,20)

m1 with 2 para

In [ ]:
#method overriding
class x:
  def m1(self):
    print("in m1 of x")
  def m2(self):
    print("in m2 of x")
class y(x):
  def m2(self):
    print("in m2 of y")
  def m3(self):
    print("in m3 of y")
y1=y()
y1.m2()
y1.m1()
y1.m3()

in m2 of y
in m1 of x
in m3 of y

In [ ]:
#method overriding #super
class x:
  def m1(self):
    print("in m1 of x")
  def m2(self):
    print("in m2 of x")
class y(x):
  def m2(self):
    print("in m2 of y")
    super().m2()
  def m3(self):
    print("in m3 of y")
class z(x):
  def m1(self):
    print("in m1 of z")
    super().m1()
  def m4(self):
    print("in m4 of z")
y1=y()
y1.m2()
y1.m1()
y1.m3()
z1=z()
z1.m1()

in m2 of y
in m2 of x
in m1 of x
in m3 of y
in m1 of z
in m1 of x

In [ ]:
#method overloding
def m1(r,*a):
  if(r=="int"):
    s=0
  if(r=="str"):
    s=''
  for p in a:
    s=s+p
  print(s)
m1("int",10,20,30)
m1("str","raju","rani","saritha")

60
rajuranisaritha

In [ ]:
#method overloading
class x:
  def m1(self):
    print("in m1 of x")
  def __str__(self):
    return "Python"
x1=x()
x1.m1()
p=x1.__str__()
print(p)

in m1 of x
Python

In [ ]:
class x:
  def __init__(self,name):
    self.name=name
  def __str__(self):
    return self.name
p=x("python")
print(p)
q=x("java")
print(q)
r=x("js")
print(r)

python
java
js